{% extends "bootstrap/base.html" %}
{% block head %}
<link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
<style>
    #hw a{
        color:white;
    }
    #hw h1{
        width:100%;
    }
    .m-font-size{
        font-size:24px!important;
    }
    body{
        background:white!important;;
    }
</style>
{% endblock %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div id="hw" class="container text-center">
          <h1><a>Simpe IR System</a></h1>
      </div>
</nav>
{% endblock %}
{% block content %}
    <div class="container">
          <h1 class="my-4">&nbsp
          </h1>
        {%block real_content%}
        {% endblock %}

    </div>
{% endblock %}
