{% extends "base.html" %}
{% block head %}
{{super()}}
<style>
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
#main{
    margin:0px auto 0px auto;
    width:1024px;
}
#query_form .full{
    width:100%;
}
#query{
    width:50%;
    margin-right: 20px;
}
#query_results{
    margin-top:40px;
}
#query_results ul{
        -webkit-padding-start: 2px;
}
.rel_article_tile{
    padding:20px 10px 20px 10px;
    background:gray;
    color:white;
}
.rel_article_info{
     padding:20px 10px 20px 10px;
}
.token{
    color:#16181b;
    margin-right:5px;
}
</style>
<script>
   $(document).ready(function(){
        $('#alter').on('click',function(e){
            console.log('1234');
            $('#query').val($(this).text());
            $('#query_form').submit();
        }
        );
    });
</script>
{% endblock %}
{%block content %}
<br/>
<br/>
<div id="main">
            <form id="query_form" action="{{url_for('query')}}" method="post">
                <!--shttps://stackoverflow.com/questions/21511234/how-to-submit-a-form-on-a-link-click-using-jquery-->
                <div class="full">
                <!--span>Query<span--> <input id="query" type="text" name="query" placeholder="   your query" />
                <input id="ntn_submit" type="submit" value="search">
                </div>
            </form>
            <div id="token_div">
                {%if alternaive_query|length >0 %}
                <strong>do you want to search</strong>
                <a id="alter" href="#">{{alternaive_query}}</a> ?
                {%endif%}
            </div>
            {%if list_result_flag==True%}
                {% set token_as_string = ','.join(tokens)%}
                <div id="query_results">
                    {% for article_title in titles_by_order %}
                    <ul>
                        <div class="rel_article_tile">
                        <h3>{{article_title}}</h3>
                        </div>
                        <div class="rel_article_info">
                        <div class="m-font-size"><strong >Corpus :</strong><s{{corpus_names[article_title]}}</div>
                        <div  class="m-font-size"><strong>Total matches:</strong>{{match_total[article_title]}}</div>
                            <br/>
                        {%for token in tokens%}
                             <span class="badge badge-info"><span class="token">{{token}}</span>{{token_matches[article_title][token]}}</span>

                        {% endfor %}
                         <br/>
                        <a href="{{url_for('detail_match',article_title=article_title,token_string = token_as_string)}}">more...</a>
                        </div >
                    </ul>
                    {%endfor%}
                </div>
            {%endif%}
</div>
{% endblock %}

