{% extends "base.html" %}
{% from "macro.html" import tfidf_table %}
{% block head %}
{{super()}}
<style>
.tfidf-small{
	font-size:24px;
}
.corpus_name_wrapper{
	margin-top:10px;
	margin-bottom:20px;
}
.corpus_info{
	display:none;
}

.corpus_name_wrapper h1{
	color:red;
}
.corpus_name_wrapper:hover{
	cursor:pointer;
}
.article_title_link,.article_title_link:hover{
	color:black;
	text-decoration:none;
}
</style>
<script>
   $(document).ready(function(){
        //appendPleaseWait();
		$('.corpus_name_wrapper').on('click',function(){
			console.log('12345');
			$(this).next().toggle();
		});
		/*
		$('.article_title_link').on('click',function(){
			
		});
		*/
		
    });

</script>
{% endblock %}
{%block real_content %}
<h1>
<a href="{{url_for('display_article',article_title=article_title)}}"
 class="article_title_link">
{{article_title}}
</a>
</h1>
<small class="text-muted tfidf-small">TF:{{which_tf}} IDF:{{which_idf}}</small>

{%for corpus_name,tfidf in corpusName_tfidfWithTile_dict.items()%}
<div class="corpus_name_wrapper"><h1>{{corpus_name}}</h1></div>
<div class="corpus_info">
{{tfidf_table(tfidf)}}
<h1>Most similar:</h1>
<h3><a href="{{url_for('display_article',article_title=res[corpus_name][0][0])}}"
 class="article_title_link">{{res[corpus_name][0][0]}}</a></h3>
{{tfidf_table(res[corpus_name][0][1])}}
<h1>Least similar:</h1>
<h3><a href="{{url_for('display_article',article_title=res[corpus_name][1][0])}}" class="article_title_link">
{{res[corpus_name][1][0]}}</a>
</h3>
{{tfidf_table(res[corpus_name][1][1])}}
</div>
{%endfor%}
{%endblock%}